.maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.maze-row {
  display: flex;
}

.maze-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}

.wall {
  background-color: #000;
}

.exit {
  background-color:#00f;
}

.player {
  background-color: #f00;
}

.solved {
  background-color: #00f;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}